html {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: normal;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}



.grid-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding:2rem 25rem;
    background-color: #f1eded;
    min-height: 20vh;
    align-items: center;
    justify-items: center;


}
.grid-section a {
    text-decoration: none;
    color: inherit;
}
.grid-section img {
    width: 20%;
    height:40%;
    border-radius: 0.5rem;
    justify-content: center;
    display: block;
    margin: 0 auto;

}
.grid-section .grid-item-1{
    background-color: #ffffff;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
    border-radius: 2.5rem;     
     padding-bottom: 1.5rem;
    padding-top: 1.5rem;     
}
.grid-section .grid-item-2 {
    background-color: #ffffff;
    
    justify-content: center;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;   
    border-radius: 2.5rem;  
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;    
   
}

.grid-section .grid-item-1 h2{
    text-align: center;
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    color: #333;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0;


}
.grid-section .grid-item-1:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}
.grid-section .grid-item-2 h2{
    text-align: center;
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    color: #333;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0;

}
.grid-section .grid-item-2:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}






















