html {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: normal;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}
@keyframes changebackground {
    0%{
        background-image: url(../assets/images/1.jpg);
    }
    14.28%{
        background-image: url(../assets/images/2.jpg);
    }
    28.56%{
        background-image: url(../assets/images/3.jpg);
    }
    42.84%{
        background-image: url(../assets/images/4.jpg);
    }
    57.12%{
        background-image: url(../assets/images/5.jpg);
    }
    71.4%{
        background-image: url(../assets/images/6.jpg);
    }
    85.68%{
        background-image: url(../assets/images/7.jpg);
    }
    100%{
        background-image: url(../assets/images/4.jpg);
    }
}

.section-1{
    animation: changebackground 180s infinite;
    background-repeat: no-repeat;
    background-size: 60% 100%;
    background-position: right center;
    width: 100%;
    min-height: 80vh;
    padding: 2rem;
    background-color: #f3f5f7;
    box-sizing: border-box;
}

.section-1 h2{
    font-size: clamp(2rem, 8vw, 5rem);
    color: #0f172a;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}
.section-1 h3{
    font-size: clamp(1.5rem, 6vw, 4rem);
    color: #0f172a;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    padding-left: 9rem;
    margin-top: -1rem;
}
.section-1 h1{
    font-size: clamp(3rem, 15vw, 11rem);
    color: #0f172a;
    margin: 0;
    padding-left: 10rem;
    margin-top: -1rem;
}
.section-1 button{
    margin-top: 1rem;
    margin-left: 11rem;
    padding: 1rem 2rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
    background-color: #2563eb;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0.75;
}
.section-1 button:hover{
    background-color: #1e40af;
    opacity: 1;
}



.section-2{
    width: 100%;
    min-height: 20vh;
    padding: 1rem;
    background-color: #211f1f;
}
.section-2 p{
    font-size: 1.7rem;
    color: #ffffff;
    margin: 0;
    padding-left: 0rem;
    margin-top: 1rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.1rem;
}
.section-2 p:nth-child(2){
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: #d1d5db;
}
.section-2 p:nth-child(2):hover{
    color: #ffffff;
}





.section-3{
    width: 100%;
    min-height: 50vh;
    padding: 2rem 0;
    background-color: #676869;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.section-3 .feature-card{
    background-color: #f3f5f7;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    flex: 1;
    min-width: 20rem;
    max-width: 30rem;
    min-height: 17rem;
    text-align: center;
    box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    flex-direction: column;
    justify-content: center;
}
.section-3 .feature-card:hover{
    transform: translateY(-0.5rem);
}
.section-3 .feature-card img{
    width: 20%;
    height: 20%;
    margin-bottom: 1rem;
}
.section-3 .feature-card h2{
    font-size: 2rem;
    color: #0f172a;
    margin: 0;
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.section-3 .feature-card p{
    font-size: 1.2rem;
    color: #374151;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.section-3 .feature-card p:hover{
    color: #000000;
}

