html {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: normal;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.section-1{
    background-image: url(/assets/images/home\ page\ background\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    width: 100%;
    min-height: 70vh;
    padding: 2rem;
    
}