html {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: normal;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.section-1{
    background-image: url(/assets/images/home\ page\ background\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right; 
    width: 99.5%;
    min-height: 70vh;
    padding: 2rem;
    background-color: #f3f5f7;
}

.section-1 h2{
    font-size: 5rem;
    color: #0f172a;
    margin: 0;
    margin-top: 0rem;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}
.section-1 h3{
    font-size: 4rem;
    color: #0f172a;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    padding-left: 9rem;
    margin-top: -2rem;
}
.section-1 h1{
    font-size: 11rem;
    color: #0f172a;
    margin: 0;
    padding-left: 10rem;
    margin-top: -2rem;
}
.section-1 button{
    margin-top: 0rem;
    margin-left: 11rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: #2563eb;
    color: #ffffff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0.7;
}
.section-1 button:hover{
    background-color: #1e40af;
    opacity: 1;
}
.section-2{
    width: 100%;
    min-height: 20vh;
    padding: 1rem;
    background-color: #211f1f;
}
.section-2 p{
    font-size: 1.7rem;
    color: #ffffff;
    margin: 0;
    padding-left: 0rem;
    margin-top: 1rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.1rem;
}
.section-2 p:nth-child(2){
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: #d1d5db;
}
.section-2 p:nth-child(2):hover{
    color: #ffffff;
}
